@use 'app/themes//black.theme.scss' as *;

// framework component styles
@use '@nebular/theme/styles/globals' as *;

@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

@include nb-install() {
    @include nb-theme-global();
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
