<nb-card class="container">
    <nb-card-header
        ><nb-icon icon="browser-outline"></nb-icon>Preview</nb-card-header
    >

    <nb-card-body class="container-body">
        <nb-card class="preview-header-menu">
            <nb-card-body class="preview-header-menu-body">
                <div class="icons">
                    <button class="icon-btn" nbButton ghost (click)="reload()">
                        <nb-icon icon="sync"></nb-icon>
                    </button>
                </div>

                <input class="preview-url" nbInput [formControl]="previewUrl" />
            </nb-card-body>
        </nb-card>

        <iframe
            #previewContent
            class="preview"
            allow="geolocation; microphone; camera; payment; autoplay; serial; cross-origin-isolated; accelerometer; ambient-light-sensor; encrypted-media; fullscreen; gyroscope; magnetometer; midi; picture-in-picture; sync-xhr; usb; vr; xr-spatial-tracking"
            frameborder="0"
        ></iframe>

        <div [hidden]="!showIframeHider" class="hack-iframe-hider"></div>
    </nb-card-body>
</nb-card>
