.container {
    &-body {
        padding: 0;
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    width: 100%;
    margin-bottom: 0;
}

.preview-header-menu-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 48px;

    padding: 4px;

    .icons {
        display: flex;

        .icon-btn {
            height: 36px;
            width: 36px;
        }
    }

    .preview-url {
        width: 100%;
        max-width: 100% !important;
    }
}

.preview {
    // height minus header
    max-height: calc(100% - 46px);
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.preview-header-menu {
    margin-bottom: 0;
}

.hack-iframe-hider {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
