.container {
    &-body {
        padding: 0;
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    width: 100%;
    margin-bottom: 0;
}

.preview {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.hack-iframe-hider {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
