.container {
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .left {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 12px;
            }
        }
    }

    &-body {
        padding: 0;
        height: 100%;
        position: relative;
        overflow-y: hidden;
        display: flex;
        justify-content: space-between;
    }

    height: 100%;
}

.terminal-container {
    width: 100vw;

    &.list-card-visible {
        min-width: calc(100vw - 120px);
        max-width: calc(100vw - 120px);
    }
}

.card-list {
    margin-bottom: 0;
    min-width: 120px;
}

// terminal custom styles
:host ::ng-deep {
    .xterm .xterm-viewport {
        background-color: transparent;
        overflow-y: scroll;
        cursor: default;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        scrollbar-color: var(--highlight) var(--dark);
        scrollbar-width: thin;
    }

    .xterm-viewport::-webkit-scrollbar {
        background-color: var(--dark);
        width: 5px;
    }

    .xterm-viewport::-webkit-scrollbar-thumb {
        background: var(--highlight);
    }
}

[hidden] {
    display: none !important;
}
