.container {
    &-body {
        padding: 0 !important;
        overflow: scroll;
        height: 100%;
        max-height: 50vh;
        margin-right: -5px;
        margin-bottom: -5px;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
    }

    height: 100%;
    margin-bottom: 0;
}

.file-tree {
    height: 100%;
    display: block;

    ::ng-deep {
        .node-content-wrapper,
        .tree-children {
            position: relative;
        }

        .node-content-wrapper::before,
        .tree-children::after {
            content: '';
            position: absolute;
        }

        .node-content-wrapper:hover {
            background: #222b45;
        }

        .node-content-wrapper-active {
            background: #151a30;
        }

        .node-content-wrapper::before {
            height: 28px;
            top: -17px;
            width: 20px;
            left: -28px;
        }

        .tree-node-level-1
            > tree-node-wrapper
            > .node-wrapper
            > .node-content-wrapper::before {
            display: none;
        }

        .tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
            width: 25px;
        }

        .tree-children::after {
            border-left: 1px solid lightgrey;
            height: 100%;
            top: -15px;
            left: -15px;
        }

        tree-node:last-child > .tree-node > .tree-children::after {
            border-left: none;
        }

        .toggle-children {
            z-index: 1;
        }
    }
}
