<nb-card class="container" #parentElem>
    <nb-card-header class="container-header"
        >Files
        <div class="icons-container">
            <button nbButton ghost (click)="addFile()">
                <nb-icon icon="file-add-outline"></nb-icon>
            </button>
            <button nbButton ghost (click)="addFolder()">
                <nb-icon icon="folder-add-outline"></nb-icon>
            </button>
        </div>
    </nb-card-header>

    <nb-card-body
        class="container-body"
        [style.maxHeight.px]="(bodyContainerHeight | async) ?? 0"
    >
        <tree-root
            class="file-tree"
            [(state)]="state"
            (activate)="onActivate($event)"
            [options]="options"
            [nodes]="(nodes$ | async) ?? []"
        >
            <ng-template #treeNodeTemplate let-node let-index="index">
                <div class="node-container">
                    <span>{{ node.data.name }}</span>

                    <div class="btns-container">
                        <button
                            nbButton
                            ghost
                            class="node-icon-btn"
                            (click)="rename()"
                        >
                            <nb-icon icon="edit-outline"></nb-icon>
                        </button>

                        <button
                            nbButton
                            ghost
                            class="node-icon-btn"
                            (click)="delete()"
                        >
                            <nb-icon icon="trash-outline"></nb-icon>
                        </button>
                    </div>
                </div>
            </ng-template>
        </tree-root>
    </nb-card-body>
</nb-card>
