<div class="container">
    <as-split direction="horizontal" [gutterSize]="2" unit="percent">
        <as-split-area>
            <nb-card
                class="editor-card-container"
                [nbSpinner]="(loading | async) === true"
                nbSpinnerSize="large"
                nbSpinnerStatus="primary"
            >
                <nb-card-header class="editor-card-container-header">
                    <div class="left-items">
                        <nb-icon class="icon" icon="code-outline"></nb-icon>

                        {{ openedFileName | async }}
                    </div>

                    <button nbButton ghost (click)="formatDocument()">
                        <nb-icon icon="prettier" pack="custom"></nb-icon>
                    </button>
                </nb-card-header>
                <nb-card-body class="editor-card-container-body">
                    <form class="editor" [formGroup]="form">
                        <ngx-monaco-editor
                            formControlName="editor"
                            class="code-editor"
                            [options]="options$ | async"
                            (onInit)="onEditorInit($event)"
                        ></ngx-monaco-editor>
                    </form>
                </nb-card-body>
            </nb-card>
        </as-split-area>
    </as-split>
</div>
