.container,
.editor,
.code-editor {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.editor-card-container {
    height: 100%;
    margin-bottom: 0;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 57px;

        .left-items {
            display: flex;
            align-items: center;
        }

        .icon {
            margin-right: 12px;
        }
    }

    &-body {
        padding: 0;
    }
}

.code-editor {
    display: block;
    position: absolute;

    ::ng-deep .editor-container {
        height: 100%;
    }
}
