<nb-card>
    <nb-card-header>{{ action }} {{ type }}</nb-card-header>
    <nb-card-body>
        <form (submit)="submit()">
            <input
                type="text"
                nbInput
                [placeholder]="type + ' name'"
                [formControl]="inputControl"
            />

            <div *ngIf="!inputControl.valid" class="custom-error-message">
                {{ errorMsg | async }}
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="card-footer">
        <button nbButton status="info" (click)="submit()">Apply</button>
    </nb-card-footer>
</nb-card>
