<nb-card class="container" #parentElem>
    <nb-card-header class="container-header">Search</nb-card-header>
    <nb-card-body
        class="container-body"
        [nbSpinner]="!!(loading | async)"
        nbSpinnerSize="large"
        nbSpinnerStatus="primary"
    >
        <form [formGroup]="form" class="form">
            <input
                nbInput
                class="search-input"
                [formControl]="form.controls.search"
                placeholder="Search"
            />
        </form>

        <nb-accordion
            class="accordion"
            multi
            *ngIf="(resultsLength$ | async) !== 0; else noResults"
        >
            <nb-accordion-item *ngFor="let result of results | async">
                <nb-accordion-item-header>
                    {{ result[0] }}
                </nb-accordion-item-header>

                <nb-accordion-item-body class="item-body-container">
                    <nb-list>
                        <nb-list-item *ngFor="let lineResult of result[1]">
                            <div
                                (click)="
                                    openSearchResult(result[0], lineResult)
                                "
                                class="item-content"
                            >
                                {{ lineResult.content[0] }}

                                <span class="highlight">
                                    {{ lineResult.content[1] }}</span
                                >

                                {{ lineResult.content[2] }}
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>

        <ng-template #noResults>
            <p *ngIf="form.controls.search.value" class="no-results">
                No results found
            </p>
        </ng-template>
    </nb-card-body>
</nb-card>
