.container {
    display: flex;
    align-items: center;
    height: 50px;

    justify-content: space-between;

    .left-btns-container {
        display: flex;
        align-items: center;
    }
}
